@model CalculatorViewModel
@{
    ViewData["Title"] = "Result Page";
}

    <div class="text-center">
        <h1 class="display-4">Calculator Result</h1>
        <h4>Here is the result....@Model.Result</h4>
    </div>